.order{
  .timeDown{
    color: #f90;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fef3d9;
    text-align: center;
    line-height: 38Px;
    box-sizing: border-box;
    height: 38Px;
    font-size: 0.65rem;
  }
}
