.navHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 47Px;
  background-color: #f5f5f5;
  border-bottom:1Px solid #f8f8f8;
  color: #666;
  & .location{
    width:15%;
    height:47Px;
    line-height: 47Px;
    font-size: 0.8rem;
    padding-left:50px;
    .tangle{
      width: 0;
      height: 0;
      border: 4Px solid #b0b0b0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      display: inline-block;
      margin-left: 4px;
      margin-top: 5px;
    }
  }
  & .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 27Px;
    line-height: 27Px;
    margin: 10Px 0;
    background-color: #fff;
    border-radius: 0.4rem;
    border: 3px solid #e6e6e6;
    Image{
      width: 27px;
      height: 27px;
    }
    Text{
      color: #b2b2b2;
      font-size: 0.65rem;
      padding-left:0.2rem;
    }
  }
}
.ToolBar{
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40Px;
  background-color: #fff;
  border-top: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
   .active{
    color: #f03d37 !important;
    border-bottom: 2px solid #f03d37 !important;
  }
  .selectItem{
    flex: 1;
    height: 20Px;
    text-align: center;
    line-height: 20Px;
    color:#777;
    margin:10Px 0;
    border-right: 2px solid #eee;
    font-size: 0.65rem;
    .tangle{
      width: 0;
      height: 0;
      border: 4Px solid #b0b0b0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      display: inline-block;
      margin-left: 4px;
      margin-top: 5px;
    }
  }
  .actived{
    color: #f03d37 !important;
    .tangle{
      width: 0;
      height: 0;
      border: 4Px solid #f03d37 !important;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      display: inline-block;
      margin-top:-20px;
      margin-left: 4px;
    }
  }
}
.cinemasContainer{
  .cinemasItem{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    padding:23px 25px 23px 0px;
    border-bottom:1px solid #b0b0b0;
    .leftCinemas{
      flex:1;
      .cinemaName{
        height: 40px;
        line-height: 40px;
        font-size: 0.9rem;
        color: #000;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        .price{
          color: #f03d37;
          font-size: 1rem;
        }
        .smallText{
          color: #f03d37;
          font-size: 0.6rem;
        }
      }
      .cinemaAddr{
        font-size: 0.7rem;
        color: #666;
        margin-top:25px;
      }
      .cinemaDiscount{
        color: #999;
        font-size: 0.65rem;
        margin-top:15px;
        .card{
          font-size:0.5rem;
          background-color:#59c0f8;
          color: #fff;
          padding: 5px;
          border-radius: 5px;
          margin-right:8px;
        }
      }
      .cinemaTag{
        .tag,.other{
          display: inline-block;
          margin-right:8px;
          font-size: 0.6rem;
          border-radius: 8px;
        }
        .tag{
          color: #f90;
          border: 1px solid #f90;
        }
        .other{
          color: #59c0f8;
          border: 1px solid #59c0f8;
        }
      }
      .cinemaRecent{
        color: #777;
        font-size:0.6rem;
        margin-top:15px;
      }
    }
    .cinemasDis{
      display: flex;
      font-size: 0.65rem;
      color: #666;
      justify-content:center;
      align-items:center;
    }
  }
}
::-webkit-scrollbar {
 width: 0;
 height: 0;
 color: transparent;
}
