.hide{
    display: none;
}
.brandBar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top:86px;
    left:0;
    z-index: 999;
    background-color: #fff;
    .brandItem{
        width: 95%;
        height: 40Px;
        display: flex;
        flex-direction: row;
        padding:0 0 0 30px;
        color: #333;
        border-bottom:1px solid #e5e5e5;
        font-size:0.7rem;
        justify-content: space-between;
        align-items: center;
    }
}
