.hide{
    display: none;
}
.specialBar{
    position: absolute;
    top:0;
    z-index:999;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top:86px;
    border-bottom: 1px solid #ddd;
    .serviceContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        .choosen{
            background-color:#fcf0f0;
            color: #f03d37 !important;
            border:1px solid #f03d37 !important;
        }
        .title{
            margin-left: 12px;
            margin-top:15px;
            font-size:0.8rem;
            margin-bottom: 15px;
            color: #777;
        }
        .container{
          display: flex;
          float: left;
          flex-direction: row;
          .serviceItem,{
              display: flex;
              width: 21.3%;
              height: 30Px;
              line-height: 30Px;
              align-self: center;
              justify-content: center;
              color: #333;
              padding:3px 0;
              margin-right: 1.5%;
              margin-left: 1.5%;
              margin-top:10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-size:0.6rem;
              border-radius: 15px;
              border:2px solid #ccc;
              margin-bottom: 15px;
          }
        }

    }
    .hallTypeContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        .choosen{
            background-color:#fcf0f0;
            color: #f03d37 !important;
            border:1px solid #f03d37 !important;
        }
        .title{
            margin-left: 12px;
            margin-top:11px;
            margin-bottom: 11px;
            font-size:0.8rem;
            color: #777;
        }
        .container{
          .hallTypeItem{
              width: 21.3%;
              height: 30Px;
              line-height: 30Px;
              float: left;
              color: #333;
              padding:3px 0;
              text-align: center;
              vertical-align: middle;
              margin-left: 1.5%;
              margin-right: 1.5%;
              margin-top:25px;
              font-size:0.6rem;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              border-radius: 15px;
              border:2px solid #ccc;
          }
        }

    }
    .selectCertian{
        width: 100%;
        height: 50Px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border:1px solid #e5e5e5;
        margin-top:10px;
        background-color: #fafafa;
        .reset{
            width:21.3%;
            height: 30Px;
            line-height: 30Px;
            margin: 13px 11px;
            border:1px solid #e5e5e5;
            border-radius: 6px;
            text-align: center;
            font-size: 0.6rem;
        }
        .certain{
            background: #f03d37;
            color: #fff;
            border:1px solid #f03d37;
            width: 21.3%;
            height: 30Px;
            line-height: 30Px;
            border-radius: 6px;
            text-align: center;
            font-size: 0.6rem;
            margin:13px 11px;
        }
    }
}
