.userCenter{
  width: 100%;
  height: 100vh;
  overflow-x:hidden ;
  background-color: #f3f3f3;
  .userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:auto;
    background-color: #f03d37;
    padding:25px 0px;
    .avatar{
      width: 100%;
      height: 50Px;
      line-height: 50Px;
      display: flex;
      justify-content: center;
      align-content: center;
      Image,img{
        width: 50Px;
        height: 50Px;
        border-radius: 50%;
        border: 5px solid #fff;
      }
    }
    .name{
      width: 100%;
      height: 70px;
      line-height: 70px;
      text-align: center;
      color: #fff;
      padding-top: 15px;
      font-size:0.7rem;
    }
  }
  .order{
    width: 100%;
    min-height:40vh;
    background-color: #fff;
    .myOrder{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 50Px;
      line-height:50Px;
      position: relative;
      padding:0 30px;
      .line{
        position: absolute;
        z-index:-1;
        width: 30%;
        height:2px;
        background-color: #ccc;
        margin:0 auto;
        top:25Px;
      }
      .tip{
        width: 100%;
        height: 30Px;
        line-height: 30Px;
        color: #333;
        padding:20px 0px;
        font-size: 0.7rem;
        text-align: center;
      }
    }
    .list{
      width: 100%;
      height: 120px;
      padding:0 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      .movie,.shop{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90Px;
        Image,img{
          width: 50Px;
          height: 60Px;
        }
        .item{
          width: 100%;
          text-align: center;
          font-size:0.65rem;
          line-height: 30Px;
          height: 30Px;
          color: #333;
          margin-top:20px;
        }
      }
    }
    .discount{
      width: 95%;
      height:auto;
      padding-left: 5%;
      margin-top: 60Px;
      border-top:2px solid #f0f0f0;
      .vipCard,.cardpon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 45Px;
        line-height: 45Px;
        border-bottom: 2px solid #f0f0f0;
        .desc{
          width: 95%;
          color: #333;
          font-size: 0.65rem;
          height: 45Px;
          line-height: 45Px;
        }
        .arrow{
          width:5%;
          height: 45Px;
          line-height: 45Px;
          color: #ccc;
          font-size: 0.65rem;
        }
      }
    }
  }
}
