.selectSeat{
  width:100%;
  height: 100vh;
  overflow-x:hidden;
  .header{
    width: 100%;
    height:60Px;
    padding: 0.8rem 0.5rem 0.1rem 0.8rem;
    border-bottom: 5px solid #f0f0f0;
    .title{
      color: #333;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .desc{
      height:0.9rem;
      line-height: 0.9rem;
      color: #777;
      font-size: 0.65rem;
      margin-top: 0.4rem;
      .time{
        padding-right: 0.4rem;
      }
      .lang{
        .language{
          padding-right: 0.2rem;
        }
      }
    }
  }
  .seatCon{
    width:100%;
    height:auto;
    background-color: #f2f1f6;
    .hallCon{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 20Px;
      .hallName{
        color: #777;
        width: 60%;
        height: 20Px;
        line-height: 20Px;
        text-align: center;
        font-size: 0.6rem;
        background-color: #e3e3e3;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
      }
    }
    .seatMore{
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 50vh;
      align-items: center;
      .rowList{
        width:10Px;
        color: #fff;
        font-size: 0.7rem;
        height: auto;
        background-color: #edecf0;
        .numberId{
          width:10Px;
          height: 15Px;
          margin: 5px 0px 7Px 0px;
        }
      }
      .Container{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        flex: 1;
        overflow: scroll;
        .rowWrap{
          display: flex;
          flex-direction: row;
          height:15Px;
          line-height: 15Px;
          margin:7px 0px;
          .seatWrap{
            width:18Px;
            height:15Px;
            line-height: 15Px;
            margin: 0 5px;
            Image,img{
              width: 18Px;
              height: 15Px;
            }
          }
        }
      }
    }
  }
  .type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f2f2f2;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    .item{
      width: 20%;
      height: 60px;
      line-height: 60px;
      margin: 20px 0px;
      text-align: center;
      Image,image{
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      .word{
        height: 40px;
        line-height: 40px;
        color: #777;
        font-size: 0.7rem;
        padding-left: 0.2rem;
      }
    }
  }
  .comment{
    width: 100%;
    height: auto;
    .title{
      color: #333;
      height: 30Px;
      line-height: 30Px;
      font-size: 0.7rem;
      padding-left: 0.6rem;
    }
    .btn{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      .btnItem{
        width: 15%;
        height: 30Px;
        color: #333;
        font-size: 0.65rem;
        text-align: center;
        line-height: 30Px;
        border:2px solid #d7d7d7;
        margin:0 3%;
        border-radius: 10px;
      }
    }
  }
  .buyBtn{
    width: 95%;
    height: 40Px;
    margin: 40px auto;
    font-size: 0.75rem;
    border-radius: 10px;
    text-align: center;
    line-height: 40Px;
    background-color: #ffddb2;
    color: #fff;
  }
}
.hide{
  display: none !important;
}
.active{
  background-color:#f90 !important;
}
::-webkit-scrollbar {
 width: 0;
 height: 0;
 color: transparent;
}
