.detailContainer{
  width: 100vw;
  height: 100vh;
  .detailBox{
    position: relative;
    height: 188Px;
    .bg{
      position: relative;
      width:100%;
      height:188Px;
      overflow: hidden;
      &>Image,img{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(10px); /* Chrome, Opera */
        -moz-filter: blur(-10px);
         -ms-filter: blur(-10px);
             filter: blur(-10px);
        transform:scale(2);
        z-index:-1,
      }
       .blurBg{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index:0;
        background-color: #333;
        opacity: 0.6;
      }
       .detailContent{
        position: absolute;
        z-index:10;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 188Px;
        padding-left: 25px;
        &>Image.poster{
          width:220px;
          height:300px;
          filter: blur(0px);
          background-color: #fff;
        }
        & .detailInfo{
          flex:1;
          color: #fff;
          margin-left:25px;
          opacity: 0.9;
          .title{
            width: 100%;
            font-size:0.95rem;
            font-weight:700;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .star{
            font-size:0.65rem;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .comment{
            font-size:0.85rem;
            font-weight: 700;
            color: #fc0;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .type,.hours,.time{
            font-size:0.65rem;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .introduce{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-top:4%;
    .btn{
      width: 90%;
      height:2rem;
      line-height: 2rem;
      color: #fff;
      text-align: center;
      background-color: #e54847;
      font-size: 0.8rem;
      margin:0% 5% 3% 5%;
      border-radius: .5rem;
    }
    .introduceContent{
      width: 90%;
      height:4.2rem;
      overflow: hidden;
      padding: 0 5%;
      color: #868686;
      font-size: 0.75rem;
    }
    .showContent{
      height: auto !important;
    }
    .arrow{
      width: 100%;
      height: 1.6rem;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #f8f8f8;
      .icon{
        width: 0.5rem;
        height: 0.5rem;
        border-left: none;
        border-top:none;
        border-right: 2px solid #aaa;
        border-bottom:2px solid #aaa;
        transform: rotate(45deg);
        font-weight: 700;
      }
      .change{
        transform: rotate(-135deg) !important;
      }
    }
  }
  .line{
    width: 100%;
    height: 0.6rem;
    background-color:#f4f4f4;
  }

  .mediaContainer{
    border-bottom:1px solid #f4f4f4;
    .title{
      color: #666;
      font-size: 0.7rem;
      padding: 0.4rem 0.8rem;
      font-weight: 700;
    }
    .mediaPhoto{
      white-space: nowrap;
      margin-left: 0.8rem;
      img,image{
        display: inline-block;
        width: 140Px;
        height: 90Px;
        padding-right: 10px;
      }
    }
    .count{
      width:100%;
      height: 2.3rem;
      .video,
    }
  }
}
