.detailContainer{
  width: 100vw;
  height: 100vh;
  .detailBox{
    position: relative;
    height: 188Px;
    .bg{
      position: relative;
      width:100%;
      height:188Px;
      overflow: hidden;
      &>Image,img{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(10px); /* Chrome, Opera */
        -moz-filter: blur(-10px);
         -ms-filter: blur(-10px);
             filter: blur(-10px);
        transform:scale(2);
        z-index:-1,
      }
       .blurBg{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index:0;
        background-color: #333;
        opacity: 0.6;
      }
       .detailContent{
        position: absolute;
        z-index:10;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 188Px;
        padding-left: 25px;
        &>Image.poster{
          width:220px;
          height:300px;
          filter: blur(0px);
          background-color: #fff;
        }
        & .detailInfo{
          flex:1;
          color: #fff;
          margin-left:25px;
          opacity: 0.9;
          .title{
            width: 100%;
            font-size:0.95rem;
            font-weight:700;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .star{
            font-size:0.65rem;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .comment{
            font-size:0.85rem;
            font-weight: 700;
            color: #fc0;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .type,.hours,.time{
            font-size:0.65rem;
            margin-top:12px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
