.top-tab{
  position: fixed;
  top:0;
  z-index: 99;
  width:100%;
  height: 47Px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  background-color: rgba(255,255,255,1);
  & .flex-item{
    flex: 1;
    height: 45Px;
    line-height: 45Px;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    font-weight: 700;
    border-bottom: 5px solid #fff;
  }
  & .search{
    margin-left:30px;
  }
  & .location{
    font-size: 0.8rem;
    color:#666;
    padding-left: 50px;
    padding-right: 50px;
    .cityArrow {
      width: 0;
      height: 0;
      border: 4Px solid #b0b0b0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      display: inline-block;
      margin-left: 4px;
      margin-top: 5px;
    }
  }
  & image,img{
    width:20Px;
    height:20Px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.active{
  color:#e54847 !important;
  border-bottom:5px solid #e54847 !important;
}
.flex-wrp{
  display: flex;
  flex-direction: row;
}
.tabItemContent{
  width:100%;
  margin-top: 45Px;
  & .dataItem{
    display: flex;
    flex-direction: row;
    margin:0 20px;
    padding-top: 5Px;
    .leftItem{
      margin-top:16px;
    }
    .leftItem image,img{
      width:128px;
      height:182px;
    }
    .rightItem{
      display:flex;
      flex-direction: row;
      flex:1;
      padding-top:12px;
      padding-left:20px;
      padding-right: 14px;
      padding-bottom:12px;
      border-bottom: 2px solid #ddd;
      .itemContent{
        width:12rem;
        .title{
          display: flex;
          flex-direction: row;
          width: 100%;
          font-size: 0.9rem;
          color: #333;
          font-weight: 700;
          padding-right: 5px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .icon{
          width:43PX;
          height: 16PX;
          margin-left:0.15rem;
          margin-top:0.15rem;
          image,img{
            width:100%;
            height: 100%;
          }
        }
        .comment{
          width:60%;
          .yellow{
            font-weight: 700;
            color: #faaf00;
            font-size: 0.8rem;
          }
        }
        .person{
          width: 70%;
          margin-top: 6Px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .smallFont{
          font-size: 0.7rem;
          color: #666;
        }
        .showInfo{
          margin-top: 6Px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          width:80%;
        }
      }
      .operate{
        display: flex;
        flex:1;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        .buyTicket,.preBuy{
          width: 47Px;
          height: 27Px;
          line-height: 27Px;
          text-align: center;
          color: #fff;
          border-radius: 4Px;
          white-space: nowrap;
          font-size: 12Px;
          cursor: pointer;
        }
        .buyTicket{
          background-color: #f03d37;
        }
        .preBuy{
          background-color: #3c9fe6;
        }
      }

    }
  }
  & .recent{
    margin: 25px 0 0;
    padding:20px 0px 20px 20px;
    font-size:0.7rem;
    color: #333;
  }
  & .line{
      height: 20px;
      background-color: #f5f5f5;
  }
  & .expect{
    position: relative;
    width: 100%;
    height: 160Px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom:20px;
    .picItem{
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: inline-block;
      height: 100%;
      white-space:nowrap;
      margin-right: 20px;
      margin-left: 20px;
      .bg{
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 10;
        padding:8px;
        border-bottom-right-radius:50%;
        background-color: #333;
      }
      .wish{
        width: 180px;
        position: absolute;
        z-index:10;
        color: #faaf00;
        font-size:0.65rem;
        background-color:rgba(0,0,0,0.9);
        top:220px;
        overflow:hidden;
        text-overflow: ellipsis;
      }
      .title,.time{
        margin: 0 0 3px;
        font-size:0.65rem;
        color: #999;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      img,image{
        width:100%;
        height: 220px;
        margin-bottom:25px;
      }
    }
  }
}
